*{
    scroll-behavior: smooth;
}
nav{
    height: 80px;
    width: 100%;
    background-color: white;
  }
nav img{
    width: 100px;
    margin-left: 70px;
    margin-top: 15px;
  }
nav ul{
    float: right;
    margin-right: 5%;
  }
nav ul li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
    margin-top: 0px;
    color: #17a5b8;
  }
nav ul li a:hover{
      color:#17a5b8;
      transition: 0.5s;
  }
nav ul li a{
    color: #17a5b8;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    text-decoration: none;
}

.form{
    margin-top: 5%;
    padding-top: 4%;
    padding-left: 5%;
    background-color: #17a5b8;
}
#H1{
    margin-top: 1%;
    margin-left: 5%;
}
span{
    color: #17a5b8;
}
#P1{
    margin-left: 5%;
    margin-top: 1%;
    position: relative
}
.card-img{
    margin-top: 3%;
    width: 400px;
    margin-left: 4%;
    height: 300px;
}
#cont{
    padding: 5px;
    border:  solid 1px #17a5b8;
    text-decoration: none;
    font-size: 20px;
    margin-left: 31%;
    color: #17a5b8;
    border-radius: 5px;
}
@media (max-width: 831px){
#cont{
    display: none;
}
.form-control {
    width: 70%;
  }
}
